mixin teacherItem(image, name, description, popupImage, popupAbout, popupDescription)
    .teacher__item.swiper-slide
        picture.teacher__frame
            source(srcset="static/images/content/" +image +".webp" type="image/webp")
            img(src="static/images/content/" +image +".jpg" width="" height="" alt="" +name).teacher__frame-image
        h3.teacher__name=name
        span.teacher__about=description
        span(data-name="" +name data-position="" +description data-image="static/images/content/" +popupImage data-about="" +popupAbout data-description="" +popupDescription).teacher__data

mixin reviewItem(photo, title, courseImage, description, name, position)
    .review__item.swiper-slide
        picture.review__frame
            source(srcset="static/images/content/" +photo +".webp" type="image/webp")
            img(src="static/images/content/" +photo +".jpg" width="" height="" alt="").review__frame-image
        .review__course
            .review__course-body
                span.review__course-note Курс
                p.review__course-title=title
            .review__course-poster
                picture.review__course-frame
                    source(srcset="static/images/content/" +courseImage +".webp" type="image/webp")
                    img(src="static/images/content/" +courseImage +".jpg" width="" height="" alt="").review__course-image
        p.review__description=description
        b.review__name=name
        span.review__position=position

mixin breadcrumbsItem(text, href)
    li.breadcrumbs__item
        if(href)
            a.breadcrumbs__link(href=href)=text
        else
            span.breadcrumbs__text=text